<!-- Question #1 -->
<!-- <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
  <div class="form-group">
    <label for="password">Enter Password</label>
    <input
      autocomplete="off"
      class="form-control"
      formControlName="password"
      id="password"
      type="password"
    />
  </div>
  <div class="form-group" style="margin-top: 12px">
    <label for="re-password">Repeat Password</label>
    <input
      autocomplete="off"
      class="form-control"
      formControlName="confirmPassword"
      id="re-password"
      type="password"
    />
  </div>

  <div class="form-group">
    <button class="btn btn-primary">Sign Up</button>
  </div>
</form> -->

<!-- END Question #1 -->

<!-- Question #2 -->
<!-- <h2>Question #2</h2>
<div class="box-container mt-20">
  <div class="box-item">Hello world!</div>
</div> -->
<!-- END Question #2 -->

<!-- Question #3 -->
<!-- <h2>Question #3</h2>
<div class="box-container mt-20">
  <div class="box-item">Item #1</div>
  <div class="box-item">Item #2</div>
  <div class="box-item">Item #3</div>
</div> -->
<!-- END Question #3 -->

<!-- Question #4 -->
<!-- <h2>Question #4</h2>
<div class="card">
  <div class="card__image">
    <img [src]="imageUrl" />
  </div>

  <div class="card__description">
    <span class="card__text">
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
      doloremque laudantium, totam rem aperiam, eaque ipsa quae
    </span>
  </div>
</div> -->
<!--  END Question #4 -->

<!-- <div class="image__wrapper"> -->
<!-- <img [src]="imageUrl" /> -->
<!-- </div> -->
